<div class="favicons">

  <% @spritesheet.rows.each do |row| %>

    <div class="favicon favicon-sprite <%= row[:css_class] %>"
         style="<%= row[:css_rule] %>"
         title="<%= row[:url] %>"></div>

  <% end %>

</div>
