<div class="container">

  <header class="favicons-header">
    Favicons
  </header>

  <form action="/favicons" method="GET">
    <input type="text" name="q" placeholder="Enter url">
  </form>

  <br>

  <div class="favicons">

    <% @favicon_urls.each do |img_url| %>
      <img class="favicon" src="<%= img_url %>">
    <% end %>

  </div>

</div>
