<div class="container">

  <header class="favicons-header">
    Favicons
  </header>

  <div class="favicons">

    <% @favicon_urls.each do |img_url| %>
      <img src="<%= img_url %>">
    <% end %>

  </div>

</div>
