<div class="container">

  <header class="favicons-header">
    Favicons
  </header>

  <form action="/favicons" method="GET" target="_blank">
    <input type="text" name="q" placeholder="Enter url">
  </form>

  <br>

  <% if @use_spritesheet %>

    <%= render :partial => "favicons/spritesheet" %>

  <% else %>

    <div class="favicons">
      <% @favicon_urls.each do |img_url| %>
        <img class="favicon" src="<%= img_url %>" title="<%= img_url %>">
      <% end %>
    </div>

  <% end %>

</div>
