<div class="container">

  <div class="favicons">

    <div class="favicon-sheet">

      <% @favicon_snapshots.each do |snapshot| %>
        <img class="favicon" src="<%= snapshot.favicon_data_uri %>"
                             title="<%= snapshot.query_url %>">
      <% end %>

    </div>

  </div>

  <div class="messages">

    <h1>Traveler</h1>

    <div class="intro">
      This is the trail of a robot <br>
      as it endlessly wanders<br>
      the web
    </div>

    <div class="status">
      Status: active
    </div>

  </div>

</div>

<script>
  Traveler.first_id = <%= @favicon_snapshots.first.id %>;
  Traveler.last_id = <%= @favicon_snapshots.last.id %>;
</script>
