/*
 *= require reset
 *= require_self
 *= require_tree .
 */


$font-family: "PT Sans Narrow", "Helvetica Neue", Arial, sans-serif;


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #111;
  font-family: $font-family;
}
