/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


$font-family: Roboto, "Helvetica Neue", Arial, sans-serif;


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #111;
  font-family: $font-family;
}

input[type="text"] {
  border: 1px solid #dfdfdf;
  font-family: $font-family;
  font-size: 16px;
  padding: 4px 10px;
  width: 184px;
  -webkit-font-smoothing: antialiased;
}

.container {
  background: white;
  width: 184 + 32px;
  padding: 16px;
  margin: 30px auto 50px;
}

.favicon {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-bottom: 8px;

  &:nth-child(8n) {
    margin-right: 0;
  }

}

.favicons-header {
  margin: 30px 0;
  font-size: 30px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.favicons {
  margin: 25px 0;
  overflow: hidden;
}
