body[data-controller="traveler"] {

background: white;

.invisible {
  opacity: 0;
}

.container {
  background: none;
  margin: 0 auto;
  width: 640px;
  padding: 0;
  overflow: hidden;
}

.favicons {
  float: left;
  background: rgba(255,255,255,0.15);
  width: 216px;
  padding: 16px;
  margin: 50px 0 800px;
  overflow: hidden;
}

.favicon-sheet {
  transition: opacity 0.25s ease;
}

.favicon {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  margin-bottom: 12px;

}

.favicon {
  transition: opacity 0.75s ease;

  @for $i from 0 through 9 {

    &.delay-#{$i} {
      transition-delay: 0.2s * $i + 0.2s;
    }

  }

}

.favicon-row {
  overflow: hidden;
}

.messages {
  float: left;
  margin-top: 80px;
  padding: 30px;
  width: 640px - 216px;
  color: #111;

  .intro {
    opacity: 0.75;
    font-size: 26px;
    line-height: 40px;
  }

  .status {
    opacity: 0.6;
    margin-top: 40px;
  }

}

}
